table { 
	text-align: center;
	border: none;
	border-spacing: 0px;
}

td {
	vertical-align: top;
	
}

#list-item {
	text-decoration: none;
    color: black;
	font-size:14px;
}

a:link, a:visited {
	text-decoration: none;
}

#mainblock {
	margin-top: -17px;
	margin-left: -8px;
}

#sidebar-panel{
	background-image: url("../img/navPanel.png");
}

#barBorder{
	background-image: url("../img/navBG.png");
}

#sidebar{
	width: 190px;
	vertical-align: center;
	text-align: left;
	margin-left: 14px;
	margin-top: 8px;
}

#sidebar-header{
	margin-top: 15px;
}

#header-img{
	margin-top: -8px;
	margin-left: -8px;
	margin-bottom: 12px;
	border: none;
}

#content-window {
	background-image: url("../img/mainBG.png");
}