body{
	font-size: 110%;
	background-image: url("/site/img/mainBG.png");
	text-align: center;
}
		 
#main-page { 
	font-size: 120%;
	text-align: center;
}
td {
	vertical-align: top;
}

table {
	width: 100%;
    height: 100%;
	border-spacing: 0px;
}

iframe {
	border:none;
}