{{ partial "pre_header.html" . }}
<title>Новости - {{ .Site.Title }}</title>
{{ partial "header.html" . }}
<table id="mainblock"><tr><td width=230px height="100%" id="sidebar-panel">>
<center><table><tr><td width=200px>
{{ partial "sidebar.html" . }}
</td></tr></table></center>
</td>
<td width=20px></td>
<td width=1200px id="content-window">
<section id="main">
  <div>
        <ul id="list">
            {{ range .Data.Pages }}
                {{ .Render "li"}}
            {{ end }}
        </ul>
  </div>
</section>
</td></tr>
</table>
{{ partial "footer.html" . }}
